html.hc-nav-yscroll {
    overflow-y: scroll
}

body.hc-nav-open {
    overflow: visible;
    position: fixed;
    width: 100%;
    min-height: 100%
}
.hc-offcanvas-nav {
    visibility: hidden;
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 9999
}
.hc-offcanvas-nav.is-ios * {
    cursor: pointer !important
}
.hc-offcanvas-nav .nav-container {
    position: fixed;
    z-index: 9998;
    top: 0;
    width: 480px;
    height: 100%;
    max-width: 90%;
    max-height: 100%;
    box-sizing: border-box;
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease
}
.hc-offcanvas-nav .nav-wrapper {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
    box-sizing: border-box
}
.hc-offcanvas-nav .nav-content {
    height: 100%;
    max-height: calc(100vh - 45px);
}
.hc-offcanvas-nav .nav-wrapper-0 > .nav-content {
    overflow: scroll;
    overflow-x: visible;
    overflow-y: auto;
    box-sizing: border-box
}
.hc-offcanvas-nav ul {
    list-style: none;
    margin: 0;
    padding: 0
}
.hc-offcanvas-nav li {
    position: relative;
    display: block;
    margin: 0px;
}
.hc-offcanvas-nav li.level-open > .nav-wrapper {
    visibility: visible
}
.hc-offcanvas-nav input[type="checkbox"] {
    display: none
}
.hc-offcanvas-nav label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    cursor: pointer
}
.hc-offcanvas-nav a {
    position: relative;
    display: block;
    box-sizing: border-box;
    cursor: pointer
}
.hc-offcanvas-nav a,
.hc-offcanvas-nav a:hover {
    text-decoration: none
}
.hc-offcanvas-nav .nav-item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box
}
.hc-offcanvas-nav.disable-body::after,
.hc-offcanvas-nav .nav-wrapper::after {
    content: '';
    position: fixed;
    z-index: 9990;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s ease .4s, opacity .4s ease
}
.hc-offcanvas-nav.disable-body.nav-open::after,
.hc-offcanvas-nav .sub-level-open::after {
    visibility: visible;
    opacity: 1;
    transition-delay: .05s
}
.hc-offcanvas-nav:not(.nav-open)::after {
    pointer-events: none
}
.hc-offcanvas-nav.nav-levels-expand .nav-content {
    overflow: scroll;
    overflow-x: visible;
    overflow-y: auto;
    box-sizing: border-box
}
.hc-offcanvas-nav.nav-levels-expand .nav-wrapper::after {
    display: none
}
.hc-offcanvas-nav.nav-levels-expand ul .nav-wrapper {
    min-width: 0;
    max-height: 0;
    overflow: hidden;
    transition: height 0s ease .4s
}
.hc-offcanvas-nav.nav-levels-expand .level-open > .nav-wrapper {
    max-height: none
}
.hc-offcanvas-nav.nav-levels-overlap .nav-content {
    overflow: scroll;
    overflow-x: visible;
    overflow-y: auto;
    box-sizing: border-box
}
.hc-offcanvas-nav.nav-levels-overlap ul .nav-wrapper {
    position: absolute;
    z-index: 9999;
    top: 0;
    height: 100%;
    visibility: hidden;
    transition: visibility 0s ease .4s, -webkit-transform .4s ease;
    transition: visibility 0s ease .4s, transform .4s ease;
    transition: visibility 0s ease .4s, transform .4s ease, -webkit-transform .4s ease
}
.hc-offcanvas-nav.nav-levels-overlap ul li.nav-parent {
    position: static
}
.hc-offcanvas-nav.nav-levels-overlap ul li.level-open > .nav-wrapper {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease
}
.hc-offcanvas-nav.nav-position-left {
    left: 0
}
.hc-offcanvas-nav.nav-position-left .nav-container {
    left: 0;
    -webkit-transform: translate3d(-280px, 0, 0);
    transform: translate3d(-280px, 0, 0)
}
.hc-offcanvas-nav.nav-position-left.nav-levels-overlap li .nav-wrapper {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
}
.hc-offcanvas-nav.nav-position-right {
    right: 0
}
.hc-offcanvas-nav.nav-position-right .nav-container {
    right: 0;
    -webkit-transform: translate3d(280px, 0, 0);
    transform: translate3d(280px, 0, 0)
}
.hc-offcanvas-nav.nav-position-right.nav-levels-overlap li .nav-wrapper {
    right: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
}
.hc-offcanvas-nav.nav-position-top {
    top: 0
}
.hc-offcanvas-nav.nav-position-top .nav-container {
    top: 0;
    width: 100%;
    height: auto;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0)
}
.hc-offcanvas-nav.nav-position-top.nav-levels-overlap li .nav-wrapper {
    left: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0)
}
.hc-offcanvas-nav.nav-position-bottom {
    top: auto;
    bottom: 0
}
.hc-offcanvas-nav.nav-position-bottom .nav-container {
    top: auto;
    bottom: 0;
    width: 100%;
    height: auto;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0)
}
.hc-offcanvas-nav.nav-position-bottom.nav-levels-overlap li .nav-wrapper {
    left: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0)
}
.hc-offcanvas-nav.nav-open[class*='hc-nav-'] div.nav-container {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
.hc-offcanvas-nav::after,
.hc-offcanvas-nav .nav-wrapper::after {
    background: rgba(0, 0, 0, 0.3)
}
.hc-offcanvas-nav .nav-container,
.hc-offcanvas-nav .nav-wrapper,
.hc-offcanvas-nav ul {
    background: var(--okay-second-company);
}
.hc-offcanvas-nav h2 {
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    padding: 20px 17px;
    margin: 0px;
    color: var(--okay-second-company-text);
}
.hc-offcanvas-nav a,
.hc-offcanvas-nav .nav-item {
    padding: 12px 14px;
    font-size: 13px;
    font-weight: 500;
    color: var(--okay-second-company-text);
    z-index: 1;
    background: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #8e8e8e38;
}
.hc-offcanvas-nav a svg,
.hc-offcanvas-nav .nav-item svg{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.hc-offcanvas-nav a.icon:before{
    font-size: 16px;
    margin-right: 10px;
}
.hc-offcanvas-nav .nav-icon{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 26px;
    -ms-flex: 0 0 26px;
    flex: 0 0 26px;
    max-width: 26px;
    width: 26px;
    height: 26px;
    background: #fff;
    padding: 3px;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;

}
.hc-offcanvas-nav .nav-icon img {
    display: block;

}
.hc-offcanvas-nav ul:first-of-type:not(:first-child) > li:first-child:not(.nav-back):not(.nav-close) > a {
    border-top: 1px solid #8e8e8e38;
    margin-top: -1px
}
.hc-offcanvas-nav li {
    text-align: left
}
.hc-offcanvas-nav li.nav-close a,
.hc-offcanvas-nav li.nav-back a {
    background: var(--okay-basic-company);
    color: var(--okay-basic-company-text);
    /*border-top: 1px solid #dbdbdb;*/
    border-bottom: 1px solid #8e8e8e38
}
.hc-offcanvas-nav li.nav-parent .nav-item {
    padding-right: 58px
}
.hc-offcanvas-nav li.nav-close span,
.hc-offcanvas-nav li.nav-parent span.nav-next,
.hc-offcanvas-nav li.nav-back span {
    width: 45px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    cursor: pointer;
    transition: background .2s ease
}
/*.hc-offcanvas-nav li.nav-close span::before,*/
/*.hc-offcanvas-nav li.nav-close span::after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*width: 6px;*/
    /*height: 6px;*/
    /*margin-top: -3px;*/
    /*border-top: 2px solid #dbdbdb;*/
    /*border-left: 2px solid #dbdbdb*/
/*}*/
/*.hc-offcanvas-nav li.nav-close span::before {*/
    /*margin-left: -9px;*/
    /*-webkit-transform: rotate(135deg);*/
    /*transform: rotate(135deg)*/
/*}*/
/*.hc-offcanvas-nav li.nav-close span::after {*/
    /*-webkit-transform: rotate(-45deg);*/
    /*transform: rotate(-45deg)*/
/*}*/
/*.hc-offcanvas-nav a[href]:not([href="#"]) > span.nav-next {*/
    /*border-left: 1px solid #8e8e8e38*/
/*}*/
.hc-offcanvas-nav span.nav-next {
    border-left: 1px solid #8e8e8e38
}
.hc-offcanvas-nav span.nav-next::before,
.hc-offcanvas-nav li.nav-back span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin-left: -2px;
    box-sizing: border-box;
    border-top: 2px solid #eee;
    border-left: 2px solid #eee;
    -webkit-transform-origin: center;
    transform-origin: center
}
.hc-offcanvas-nav span.nav-next::before {
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
    transform: translate(-50%, -50%) rotate(135deg)
}
.hc-offcanvas-nav li.nav-back span::before {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg)
}
.hc-offcanvas-nav.nav-position-left.nav-open .nav-wrapper {
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2)
}
.hc-offcanvas-nav.nav-position-right.nav-open .nav-wrapper {
    box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2)
}
.hc-offcanvas-nav.nav-position-right span.nav-next::before {
    margin-left: 0;
    margin-right: -2px;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg)
}
.hc-offcanvas-nav.nav-position-right li.nav-back span::before {
    margin-left: 0;
    margin-right: -2px;
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
    transform: translate(-50%, -50%) rotate(135deg)
}
.hc-offcanvas-nav.nav-position-top.nav-open .nav-wrapper {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2)
}
.hc-offcanvas-nav.nav-position-top span.nav-next::before {
    margin-left: 0;
    margin-right: -2px;
    -webkit-transform: translate(-50%, -50%) rotate(-135deg);
    transform: translate(-50%, -50%) rotate(-135deg)
}
.hc-offcanvas-nav.nav-position-top li.nav-back span::before {
    margin-left: 0;
    margin-right: -2px;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg)
}
.hc-offcanvas-nav.nav-position-bottom.nav-open .nav-wrapper {
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2)
}
.hc-offcanvas-nav.nav-position-bottom span.nav-next::before {
    margin-left: 0;
    margin-right: -2px;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg)
}
.hc-offcanvas-nav.nav-position-bottom li.nav-back span::before {
    margin-left: 0;
    margin-right: -2px;
    -webkit-transform: translate(-50%, -50%) rotate(-135deg);
    transform: translate(-50%, -50%) rotate(-135deg)
}
.hc-offcanvas-nav.nav-levels-expand .nav-container ul .nav-wrapper,
.hc-offcanvas-nav.nav-levels-none .nav-container ul .nav-wrapper {
    box-shadow: none;
    background: transparent
}
.hc-offcanvas-nav.nav-levels-expand .nav-container ul h2,
.hc-offcanvas-nav.nav-levels-none .nav-container ul h2 {
    display: none
}
.hc-offcanvas-nav.nav-levels-expand .nav-container ul ul .nav-item,
.hc-offcanvas-nav.nav-levels-none .nav-container ul ul .nav-item {
    font-size: 14px
}
.hc-offcanvas-nav.nav-levels-expand .nav-container li,
.hc-offcanvas-nav.nav-levels-none .nav-container li {
    transition: background .3s ease
}
.hc-offcanvas-nav.nav-levels-expand .nav-container li.level-open > .nav-item .nav-next::before,
.hc-offcanvas-nav.nav-levels-none .nav-container li.level-open > .nav-item .nav-next::before {
    margin-top: 2px;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg)
}
.hc-offcanvas-nav.nav-levels-expand .nav-container span.nav-next::before,
.hc-offcanvas-nav.nav-levels-none .nav-container span.nav-next::before {
    margin-top: -2px;
    -webkit-transform: translate(-50%, -50%) rotate(-135deg);
    transform: translate(-50%, -50%) rotate(-135deg)
}
#main-nav {
    display: none
}
.hc-offcanvas-nav .nav-wrapper-0 > .nav-content {
    padding-bottom: 41px
}
.hc-offcanvas-nav h2 {
    font-weight: 400
}
.hc-offcanvas-nav a {
    font-size: 16px
}
.hc-offcanvas-nav ul.top-nav {
    background-color: var(--okay-bg);
    color: var(--okay-body-text);
}
.hc-offcanvas-nav ul.top-nav .mobile__link{
    max-height: 100px;
}
.hc-offcanvas-nav ul.top-nav .mobile__link img{
    max-height: 60px;
}
.hc-offcanvas-nav ul.top-nav .account__link{
    font-size: 12px;
    padding: 12px 10px 12px 14px;
    font-weight: 400;
    color: #eee;
    background: var(--okay-second-company);
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    line-height: 1.4;
    opacity: 1;
}
.hc-offcanvas-nav ul.top-nav .account__link svg{
    position: absolute;
    left: 14px;
}
.hc-offcanvas-nav ul.top-nav .account__link .account__text,
.hc-offcanvas-nav ul.top-nav .account__link .account__login{
    border-bottom: 1px dotted #999;
}
.hc-offcanvas-nav ul.language-nav img{
    margin-right: 10px;
}
.hc-offcanvas-nav ul.bottom-nav {
    position: absolute;
    z-index: 10;
    bottom: 0;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border-top: 1px solid #8e8e8e38;
}
.hc-offcanvas-nav ul.bottom-nav li {
    flex: auto
}
.hc-offcanvas-nav ul.bottom-nav li a {
    padding: 10px;
    text-align: center;
    height: 100%;
    border-bottom: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.hc-offcanvas-nav ul.bottom-nav li svg {
    fill: #fff;
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 21px
}