compiled/*/*.php
Okay/xml/compiled/*.php
/vendor/
backend/design/compiled/*.php
backend/files/*/*.*
!backend/files/*/.keep_folder

files/**/*.*
!files/**/*.phtml
!files/**/*.php*
!files/**/*.cgi
!files/**/*.exe
!files/**/*.pl
!files/**/*.asp
!files/**/*.aspx
!files/**/*.shtml
!files/**/*.shtm
!files/**/*.fcgi
!files/**/*.fpl
!files/**/*.jsp
!files/**/*.htm
!files/**/*.html
!files/**/*.wml
!files/**/.gitignore
!files/lang/*.*
files/thumbs/*
cache/

/Okay/log/*
config/config.local.php
design/*/lang/local.*.php

!*.keep_folder
!*.htaccess
.phpunit.result.cache
robots.txt