#php_flag display_errors on
#php_flag display_startup_errors on
#php_value session.cookie_httponly true
#php_value memory_limit 256M
AddDefaultCharset UTF-8
ErrorDocument 404 /404
RewriteEngine on
#RewriteBase /

# закрываем ненужные директорию от веба
RewriteRule .*(\.git/|\.idea|\.gitignore).* - [F]
RewriteRule ^vendor/.* - [F]

# Редирект с повторяющихся слешей
RewriteCond %{REQUEST_URI} ^(.*)/{2,}(.*)$
RewriteRule ^(.*)$ %1/%2 [R=301,L]

# Редирект со слеша в конце на без него
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_URI} ^(.+)/$
#RewriteRule ^(.+)/$ %1 [R=301,L]

# Редирект с page-1 на основную страницу в ЧПУ
RewriteCond %{REQUEST_URI} ^(.*)/page-1(?![0-9])(.*)$
RewriteRule ^(.*)$ %1%3 [R=301,L]

# Редирект с page=1 на основную страницу без ЧПУ
RewriteCond %{QUERY_STRING} ^(.*)&?page=1(?![0-9])(.*)$
RewriteRule ^(.*)/?$ /$1?%1%3 [R=301,L]

# Админка теперь по адресу /backend
RewriteRule	^admin/?$  backend [L]

# Кэширование / поддерживается не на всех хостингах
<ifmodule mod_expires.c>
    <filesmatch "\.(jpg|jpeg|png|webp|svg|gif|js|css|swf|ico|woff|mp3)$">
        ExpiresActive on
        ExpiresDefault "access plus 7 days"
    </filesmatch>
</ifmodule>

# Gzip сжатие / поддерживается не на всех хостингах
<ifmodule mod_deflate.c>
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE text/javascript
    AddOutputFilterByType DEFLATE text/css
    <ifmodule mod_setenvif.c>
        BrowserMatch ^Mozilla/4 gzip-only-text/html
        BrowserMatch ^Mozilla/4\.0[678] no-gzip
        BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
    </ifmodule>
</ifmodule>

# Google PageSpeed Insights модуль PageSpeed,есть не на всех хостингах и не везде может работать, нужно уточнять у хостеров
<IfModule pagespeed_module>
    ModPagespeed on
    ModPagespeedRewriteLevel CoreFilters
    ModPagespeedEnableFilters make_google_analytics_async
    ModPagespeedEnableFilters prioritize_critical_css
    ModPagespeedEnableFilters defer_javascript
    ModPagespeedEnableFilters sprite_images
    ModPagespeedEnableFilters convert_png_to_jpeg,convert_jpeg_to_webp
    ModPagespeedEnableFilters collapse_whitespace,remove_comments
</IfModule>

<IfModule mod_fcgid.c>
    # make HTTP Basic Authentication work on php-fcgi installs
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]
</IfModule>

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [E=REMOTE_USER:%{HTTP:Authorization},L,QSA]
