<?xml version="1.0" encoding="UTF-8"?>
<module>
	<settings>
		<variable>liq_pay_public_key</variable>
		<name>{$lang->liq_pay_public_key}</name>
	</settings>
	<settings>
		<variable>liq_pay_private_key</variable>
		<name>{$lang->liq_pay_private_key}</name>
	</settings>
	<settings>
		<variable>pay_types</variable>
		<name>{$lang->liq_pay_pay_types}</name>
		<options>
			<name>{$lang->liq_pay_pay_types_default}</name>
			<value>default</value>
		</options>
		<options>
			<name>{$lang->liq_pay_pay_types_apay}</name>
			<value>apay</value>
		</options>
		<options>
			<name>{$lang->liq_pay_pay_types_gpay}</name>
			<value>gpay</value>
		</options>
		<options>
			<name>{$lang->liq_pay_pay_types_card}</name>
			<value>card</value>
		</options>
		<options>
			<name>{$lang->liq_pay_pay_types_liqpay}</name>
			<value>liqpay</value>
		</options>
		<options>
			<name>{$lang->liq_pay_pay_types_privat24}</name>
			<value>privat24</value>
		</options>
		<options>
			<name>{$lang->liq_pay_pay_types_masterpass}</name>
			<value>masterpass</value>
		</options>
		<options>
			<name>{$lang->liq_pay_pay_types_moment_part}</name>
			<value>moment_part</value>
		</options>
		<options>
			<name>{$lang->liq_pay_pay_types_cash}</name>
			<value>cash</value>
		</options>
		<options>
			<name>{$lang->liq_pay_pay_types_invoice}</name>
			<value>invoice</value>
		</options>
		<options>
			<name>{$lang->liq_pay_pay_types_qr}</name>
			<value>qr</value>
		</options>
	</settings>
</module>