.admTools {
    background-color: #222;
    border: 0.0625rem solid #222;
    left: -240px;
    position: fixed;
    top: 220px;
    transition: left 0.5s ease 0s;
    width: 240px;
    z-index: 9999;
}

.admTools.open {
    left: 0px;
}

.admTools p {
    margin: 10px;
    color: #fff;
}

.admTools .tool-descr {
    color: #8d8c8c;
    font-size: 12px;
}

.admTools .tool-title {
    background-color: #484848;
    border-bottom: 1px solid #6d6d6d;
    border-top: 1px solid #6d6d6d;
    margin: 5px 0;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
}

.openTools {
    border: none;
    position: absolute;
    right: -48px;
    top: -1px;
    width: 48px;
    height: 48px;
    padding: 10px 8px;
    z-index: 9999;
    background-color: rgba(34, 34, 34, 0.8);
    color: #fff;
    overflow: hidden;
    vertical-align: middle;
    text-align: left;
    transition: all 500ms ease;
    backface-visibility: hidden;
    text-indent: 0;
    cursor: pointer;
    border-radius: 0px 4px 4px 0;
}

.openTools:before {
    display: inline-block;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="%23fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-settings-icon lucide-settings"><path d="M9.671 4.136a2.34 2.34 0 0 1 4.659 0 2.34 2.34 0 0 0 3.319 1.915 2.34 2.34 0 0 1 2.33 4.033 2.34 2.34 0 0 0 0 3.831 2.34 2.34 0 0 1-2.33 4.033 2.34 2.34 0 0 0-3.319 1.915 2.34 2.34 0 0 1-4.659 0 2.34 2.34 0 0 0-3.32-1.915 2.34 2.34 0 0 1-2.33-4.033 2.34 2.34 0 0 0 0-3.831A2.34 2.34 0 0 1 6.35 6.051a2.34 2.34 0 0 0 3.319-1.915"/><circle cx="12" cy="12" r="3"/></svg>');
    content: " ";
    width: 32px;
    height: 32px;
    transition: all 500ms ease;
}

.changeTools {
    background-color: #900000;
    border-radius: 25px;
    display: block;
    height: 38px;
    margin: 0 auto 10px;
    position: relative;
    transition: background 0.5s ease 0s;
    width: 65px;
}

.changeTools.on {
    background-color: #57d756;
}

.changeTools.on span {
    left: 26px;
}

.changeTools span {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 1px 0 rgba(50, 50, 50, 0.7);
    display: block;
    height: 34px;
    left: 0;
    margin: 2px;
    position: absolute;
    top: 0;
    transition: left 0.5s ease 0s;
    width: 34px;
}

.tooltip {
    width: auto;
    min-width: 150px;
    display: none;
    position: absolute;
    padding: 7px;
    font-size: 12px;
    line-height: 1.2;
    background-color: rgba(34, 34, 34, 0.9);
    color: rgb(255, 255, 255);
    z-index: 999999;
    border-radius: 4px;
    font-weight: 500;
}

.tooltip:before {
    display: block;
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    top: -8px;
    left: 10px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(34, 34, 34, 0.9);
}

.tooltip:after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 8px;
    top: -8px;
    left: 0;
    opacity: 0;

}

.tooltip a {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    padding: 5px;
    background: transparent;
    text-decoration: none;
}

.tooltip svg {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 8px;

}

.top_admin_bookmark {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 170px;
    width: 47px;
    height: 47px;
    padding: 10px 8px;
    z-index: 9999;
    background-color: rgba(34, 34, 34, 0.8);
    color: #fff;
    overflow: hidden;
    vertical-align: middle;
    text-align: left;
    transition: all 500ms ease;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-indent: 0;
    cursor: pointer;
    left: 0;
    border-radius: 0px 4px 4px 0;
}

.top_admin_bookmark:before {
    content: " ";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 24 24" fill="none" stroke="%23fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-toggle-right-icon lucide-toggle-right"><circle cx="15" cy="12" r="3"/><rect width="20" height="14" x="2" y="5" rx="7"/></svg>');
    transition: all 500ms ease;
    backface-visibility: hidden;
}

.openTools:hover,
.top_admin_bookmark:hover {
    background-color: rgba(34, 34, 34, 1);
}